body {
margin:0;
}


#total_header {
width:100%;
position:absolute;
display:inline-block;
bottom:50%;
}


.headtext{
font-size: 60px;
margin:0;
}

.subtext {
font-size: 45px;
margin:0;
}

.profilepic {
height:70px;
width:auto;
border-radius:50%;
position:absolute;
left:20px;
top:15px;
display:inline-block;
}

.top {
margin:0;
background-image: linear-gradient(#a3adab, #92A9BD);
font-family: "Sofia", sans-serif;
height:700px;
width:100%;
position:relative;

}


.Menu {
font-size : 30px;
width = auto;
position:absolute;
display:inline-block;
right:40px;
top:15px;
}

#total_header {
text-align :center;

}

.mountain {
left:450px;
bottom:0px;
margin:0;
position:absolute;
}

.cloud {
display:inline-block;
position:absolute;
z-index:900;
}

#cloud1 {

bottom:300px;
left:300px;

}

#cloud2 {

bottom:600px;
right:200px;

}

#cloud25 {

bottom:0px;
right:380px;
}

#cloud3 {

top:400px;
right:150px;

}



#cloud4 {

bottom:200px;
right:900px;

}

#cloud5 {

bottom:200px;
left:10px;

}
#cloud6 {

left:100px;
top:100px;

}

#cloud7 {

left:50px;
top:100px;

}

.middle-container {
text-align:center;
position:relative;
background-image: linear-gradient(#92A9BD, #7C99AC);
font-family: "Montserrat", sans-serif;
}

.bottom-container {
text-align:center;
background-color:#7C99AC;
position:relative;
font-family: "Montserrat", sans-serif;
}

#sun {
display:block;
position:relative;
height:200px;
width:auto;
bottom:125px;
left:85%;
}

.sun-wrapper {
display: inline-block;
margin:auto;
width:50%
}


#beginning {
text-decoration:underline;
}

#profpic {
border-radius:50%;
height:200px;
width:auto;
}

.picture {
height:100px;
width:auto;
}

.section {
padding:10px 0 10px 0;
}

.innersection {
padding:10px 0 10px 0;
}

hr {
color:#D3DEDC;
background-color:#92A9BD;
border-style:none;
border-top: 3.5px dotted;
border-width: 5px;
width: 5%;

}
.lasthr{
background-color:#7C99AC;

}

h3 {
color:#0b7275;
}

h1 {
color:#0b7275;
line-height:2;
font-weight:normal;
}

h2 {
color:#0b7275;
font-weight:normal;
}


p {
color:white;
}

a {
text-decoration:none;
color:#0b7275;
}

.footer {
color:#0b7275;
}

.text {
display:inline-block;
width:500px;
text-align:center;
}


.block {
width:50%;
margin:auto;
padding: 20px;
}

.block1 {
width:30%;
margin:auto;
padding: 20px;
}

.sk{
display:block;
margin:auto;
}

#skill1 {
float:left;
}
#skill2 {
float:right;
}


.courses {
position:relative;
}


ul {
display:inline-block;
position:relative;
left:50px;
width:600px;
font-size:15px;
color:white;
list-style-type: circle;
text-align:left;
}
li {
padding:5px;
}

.italics {
text-decoration:underline;
}
.education {
position:relative;
}


.working{
float:left;
}
 .educating, .star {
float:right;
}


table{
display:inline-block;
color:white;
margin:auto;
}
th, td {
  padding: 5px;
}





th.bold {
font-weight:bold;
}

th {
border-bottom: 1px solid;
border-width:100%
}


.block {
z-index:850;
}

.block1 {
z-index:850;

}

.block2 {
z-index:850;


}



.ds {
height:100px;
width:auto;
}

.educationtable {
width:50%
}